<div style="text-align:center">
  <img 
  src="../assets/Mypic.jpg"
  alt="LCO logo"
  width="150"
  height="150"
  class="logo"
  >
  <h1 class="app-title">Subham Singh</h1>
</div>
<div class="container">
  ADD todo......
  <br>
  <input 
  type="text" 
  class="input-text"
  placeholder="type a todo"
  [(ngModel)]="todoValue"
  (keyup.enter)="addItem()"
  />
  <button class="add-btn" (click)="addItem()">Add Todo</button>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
        <input type="checkbox" name="isDone"
        [(ngModel)]="item.isDone"
        />
        {{item.value}}
        <button class="btn" (click)="deleteItem(item.id)">Delete</button>
      </li>

    </ul>


  </div>

</div>
<app-detail-component></app-detail-component>
<app-address-book-component name='Another Name'></app-address-book-component>